/* CSS Document */
body { font-family:"微软雅黑", Arial, Verdana, Helvetica, sans-serif; color:#666; font-size:12px; text-align:left;}

* { margin:0; padding:0;}

ul, ol, li, dl, dt, dd { list-style:none; float:none; }

table{border-collapse:collapse;border-spacing:0;}

h1,h2,h3,h4,h5,h6{font-size:100%;}

img{border:none;}

th { font-weight:normal; }

a { color:#000; text-decoration:none; }

.center { text-align:center; }

input,img {vertical-align: middle;}

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }

.clear { display:inline-table; }

/* Hides from IE-mac \*/

* html .clear { height:1%; }

.clear { display:block; }

/* End hide from IE-mac */

body{ background:#30abe9;}

.FrameMain{ width:1000px; margin:0 auto; background:#0089ce; position:relative;}
.Icon{ position:absolute; bottom:36px; left:48px;}

.Head{ background:url(../images/head.jpg) no-repeat top center; height:175px;}

.FTxt{ font-size:26px; color:#fff; font-weight:bold; padding:15px 0px;  text-align:center;}
.FontSize{ font-size:16px; color:#fff; padding:10px 26px; text-indent:31px; line-height:36px;}

